<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - INSHARE</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <div>
        <h2>Login</h2>
        
        <% if (error.length>0) { %>
            <div class="alert alert-error">
                <%= error %>
            </div>
        <% } %>
        
        <% if (success.length>0) { %>
            <div class="alert alert-success">
                <%= success %>
            </div>
        <% } %>

        <form action="/login" method="POST">
            <input type="text" name="usernameOrEmail" placeholder="Username or Email" required />
            <input type="password" name="password" placeholder="Password" required />
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/signup">Sign up here</a></p>
    </div>
</body>
</html> 